.characterNot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-title {
    color: $colorText;
    text-transform: uppercase;
    font-family: $fontText;
    margin-bottom: 10px;
  }
  &-link {
    color: rgb(12, 204, 218);
    font-family: $fontText;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &-gif {
    width: 300px;
    border-radius: 20px;
  }
}
