.card-details {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 250px;
  background-color: $colorCard;

  &--image {
    width: 50%;
    margin: 25px;
  }
  &--text {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 20px;
    color: $colorText;
  }
  &-link {
    margin-bottom: 5px;
    color: $colorText;
  }
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}
