.card-details {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 250px;
  background-color: $colorCard;

  &--image {
    width: 50%;
    margin: 25px;
  }
  &--text {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: $colorText;
  }
}
